name: Build Maven Module

on:
  workflow_call:
    inputs:
      module:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
          cache-dependency-path: '${{ inputs.module }}/pom.xml'

      - name: Configure Maven settings
        run: |
          mkdir -p ~/.m2
          cat > ~/.m2/settings.xml <<EOF
          <settings>
            <servers>
              <server>
                <id>java-projects</id>
                <username>${{ secrets.ACTIONS_USER }}</username>
                <password>${{ secrets.ACTIONS_TOKEN }}</password>
              </server>
              <server>
                <id>github</id>
                <username>${{ secrets.ACTIONS_USER }}</username>
                <password>${{ secrets.ACTIONS_TOKEN }}</password>
              </server>          
            </servers>
          </settings>
          EOF

      - name: Build module
        run: mvn -pl ${{ inputs.module }} -am -U -ntp clean install
