name: Build Maven Module

on:
  workflow_call:
    inputs:
      module:
        required: true
        type: string

  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
          cache-dependency-path: '${{ inputs.module }}/pom.xml'

      - name: Configure Maven settings
        run: |
          mkdir -p ~/.m2
          cat > ~/.m2/settings.xml <<'EOF'
          <settings>
            <servers>
              <server>
                <id>java-projects</id>
                <username>${env.ACTIONS_USER}</username>
                <password>${env.ACTIONS_TOKEN}</password>
              </server>
              <server>
                <id>github</id>
                <username>${env.ACTIONS_USER}</username>
                <password>${env.ACTIONS_TOKEN}</password>
              </server>
            </servers>
            <profiles>
              <profile>
                <id>gh-packages</id>
                <repositories>
                  <repository>
                    <id>java-projects</id>
                    <url>https://maven.pkg.github.com/vtisweden/java-projects</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                  </repository>
                </repositories>
                <pluginRepositories>
                  <pluginRepository>
                    <id>java-projects</id>
                    <url>https://maven.pkg.github.com/vtisweden/java-projects</url>
                  </pluginRepository>
                </pluginRepositories>
              </profile>
            </profiles>
            <activeProfiles>
              <activeProfile>gh-packages</activeProfile>
            </activeProfiles>
          </settings>
          EOF

      - name: Build module
        run: mvn -pl ${{ inputs.module }} -am -U clean install
